<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="#" />
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="home-link">
               <a href="#">Store Manager</a>    
            </div>
            <div class="header-links">
                <li><a href="#">Support</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Log out</a></li>
            </div>
            
        </header>
        
        <nav>
            <p>Dashboard</p>
            <li><a class="nav-link" href="#">General</a></li>
            <li><a class="nav-link" href="#">Cart</a></li>

            <p>Accounts</p>
            <li><a class="nav-link" href="#">Customers</a></li>
            <li><a class="nav-link" href="#">Suppliers</a></li>
            <li><a class="nav-link" href="#">Sales</a></li>

            <p>Iventory</p>
            <li><a class="nav-link" href="#">Products</a></li>
            <li><a class="nav-link" href="#">In Stock</a></li>

            <p>Orders</p>
            <li><a class="nav-link" href="#">Fulfilment</a></li>
            <li><a class="nav-link" href="#">Purchases</a></li>
            <li><a class="nav-link" href="#">Invoices</a></li>

            
        </nav>
      
        <main>
          
        </main>
      
        <footer>
            Store Manager - Copyleft 2018.
        </footer>
      </div>
</body>
</html>