<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="../public/dashboard.css" />
        <script src="main.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <p>
                   <a href="#">Store Manager</a>    
                </p>
                <div>
                    <li><a href="#">About</a></li>
                    <li><a href="#">contact</a></li>
                    <li><a href="#">login</a></li>
                </div>
                
            </header>
            
            <nav>
                Navigation
            </nav>
            
            <main>
                Main content
            </main>
            
            <aside>
                Sidebar / Ads
            </aside>
            
            <footer>
                Footer content
            </footer>
            </div>
    </body>
</html>