body{
    margin: 0 auto;
    border: 0 0;
    height: 100%;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header h1{
    margin-top: 50px;
    text-align: center;
    color: rgb(3, 48, 87);
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.form-container{
    margin-top: 20px;
    width: 400px;
}

.input-container{
    margin-top: 15px;
    margin-bottom: 25px;  
}


.input-container input{
    height: 25px;
    width: 100%;
    font-size: medium;
    color: rgb(2, 22, 39);
    opacity: 0.8;
    border: 0;
    outline: none;
    padding-inline-start: 1px;
    padding-block-end: 1px;
    border-bottom: 1px solid steelblue;
}

.input-container input:focus{
    height: 25px;
    width: 100%;
    font-size: medium;
    color: rgb(2, 22, 39);
    border: 0;
    border-bottom: 1px solid steelblue;
}

.input-container button{
    width: 100%;
    height: 30px;
    background: steelblue;
    border: transparent;
    color: white;
    font-weight: bold;
    font-size: large;
}

.input-container button:hover{
    background: rgb(25, 100, 161);
    color: rgb(237, 241, 245);
    cursor: pointer;
}

.form-container .forgot-pw{
    display: flex;
    flex-direction: row-reverse;
}