/* layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav content aside"
      "footer footer footer";
  
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: greenyellow;
    list-style: none;

  }

  header div{
      display: flex;
  }

  header div li{
      margin: 0 15px;
  }
  
nav {
    grid-area: nav;
    margin-left: 0.5rem;
    background: violet;
  }
  
main {
    grid-area: content;
  }
  
aside {
    grid-area: aside;
    margin-right: 0.5rem;
    background: cornflowerblue;
  }
  
footer {
    grid-area: footer;
    background: purple;
}

/* header style */

header a {
    text-decoration: none;
}
